<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>success</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="background">
        <div class="background-shadow">
            <div class="container">
                <div class="row">
                    <h1>가입에 성공했습니다.</h1>
                    <h1>📚책itUp📚에 오신걸 환영합니다!</h1>
                    <div id="to-login"><a href="/login">로그인 페이지로 이동</a></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>