<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도서 노트 작성하기</title>
    <link rel="icon" href="{% static 'images/bookitup_logo3.png' %}">
    <script type="text/javascript">
        // 외부에 js 파일에서 django 변수 접근이 불가능하기 때문에 django 변수 접근용 js는 html 내에 따로로 만들어주기
        var userId = "{{ user_id }}"
        var bookId = "{{ book_id }}"
    </script>
    <link rel="stylesheet" href="{% static 'css/book_img.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/rcm.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/insert.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_auto_complete.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/rcm.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/search_auto_complete.js' %}"></script>
    <script src="{% static 'js/board_search_auto_complete.js' %}"></script>
    <script src="{% static 'js/history.js' %}"></script>
    <script src="{% static 'js/star.js' %}"></script>
    <script src="{% static 'js/booknote.js' %}"></script>
    <script>

    </script>
</head>
<body>
       <header>
        <div>
            <div>
                <nav>
                    {% if user_id %}
                        <ul class="left-nav">
                            <li><img class='logo-img' src="{% static 'images/bookitup_logo3.png' %}"></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="/preference?user_id={{user_id}}">Preference</a></li>
                            <li class="menu">
                                <div class="parent-menu">
                                    <a href="#">Recommendation</a>
                                </div>
                                <ul class="hide-menu">
                                    <li class="submenu"><a href="/recommendation">by preference</a></li>
                                    <li class="submenu"><a href="/recommendation/keyword">by keywords</a></li>
                                </ul>
                            </li>
                            <li><a href="/board">Community</a></li>
                            <li><a href="/about_us">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
                            <li style="width: 170px;">
                                <form method="get" action="/search" class="autocomplete-me" style="width: 170px;">
                                    <div class="search-box">
                                        <input type="text" id="id_q" name="q" style="width: 120px; margin: 0px; font-size: 12px; height: 18px; " >
<!--                                        <input type="submit" value='' class="search-submit" style="width: 30px; margin: 0px;">-->
                                        <button type="submit" value='' class="search-submit" style="width: 30px; margin: 0px;"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </li>
                            <li class="menu" id='my-info'>
                                <div class="parent-menu">
                                    <a href="#">{{user_id}}</a>
                                </div>
                                <ul class="hide-menu">
                                    <li class="submenu" >
                                        <div class="card">
                                            <p id="nickname"></p>
                                        </div>
                                    </li>
                                    <li class="submenu" id="read_book"><a href="#"></a></li>
                                    <li class="submenu"><a href="{% url 'mysite' %}">My page</a></li>
                                    <li class="submenu"><a href="{% url 'history_register' %}">My Library</a></li>
                                    <li class="submenu"><a href=" {% url 'logout' %} ">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="left-nav">
                            <li><img class='logo-img' src="{% static 'images/bookitup_logo3.png' %}"></li>
                            <li><a href="/unlogged">Home</a></li>
                            <li><a href="/unlogged">Preferences</a></li>
                            <li><a href="/unlogged">Recommendation</a></li>
                            <li><a href="/unlogged">Community</a></li>
                            <li><a href="/about_us">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
                            <li><a href=" {% url 'index' %} ">Login/Signup</a></li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>

    <section class="page-start">
        <article>
            <h2>도서노트 작성</h2>
            <p>도서 제목을 입력한 후 원하는 도서를 선택하면 도서 노트 작성 공간이 생성됩니다.</p>
            <li>
                <form method="get" action="/search" class="board-autocomplete-me">
                    <div class="board-search-box">
                        <input type="text" id="id_query" name="q" placeholder="도서 제목을 입력해주세요">
<!--                                        <input type="submit" value='' class="search-submit" style="width: 30px; margin: 0px;">-->
                    </div>
                </form>
            </li>
        </article>


        <article>
            <div class="book-small-img-container">
                <img>
            </div>
            <div class="board-form-container">
                <form action="/board/insertres/" method="post">{% csrf_token %}
                <table>
                    <tr>
                        <th>ISBN</th>
                        <td><input type='text' name="book_id" id="book-id" value="{{book_id}}" readonly></td>
                    </tr>
                    <tr>
                        <th>책제목</th>
                        <td><input type='text' name="book_title" id="book-title" value="{{book_title}}" readonly></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td><textarea rows="10" cols="60" name="mycontent"></textarea></td>
                    </tr>
                    <tr class="table-btns-box">
                        <td colspan="2" align="right">
                            <input type="button" value="취소" onclick="location.href='/board'">

                            <input type="submit" value="독서노트 등록"> <!--submit버튼을 누르면 submmit이벤트가 발생하는데 form 태그 안에 name속성의 value값들을 가지고 액션 경로로 전송 방법은 method=get/post-->
                        </td>
                    </tr>
                </table>
                </form>
            </div>
        </article>

        <article>
            <div id='modal'>
                <div class="close">닫기</div>
                <div class="modal-content">
                    <div id="top-box">
                        <div id="left-box"></div>
                        <div id="right-box"></div>
                    </div>
                    <div id="bottom-box">
                        <div id="bottom-small-box"></div>
                    </div>
                </div>
            </div>
        </article>


    </section>


    <footer id="ending">
        <div>
            <div class="Lastlogo">
                <img src="{% static 'images/bookitup_logo3.png' %}" alt="">
            </div>

            <div class="endlst">
                <ul id="main-set">
                    <li>
                        <span>Main</span>
                        <a href="/">Home</a>
                    </li>
                </ul>
                <ul id="recommendation-set">
                    <li>
                        <span>Recommendation</span>
                        <a href="/recommendation">by preference</a>
                        <a href="/recommendation/keyword">by keyword</a>
                    </li>
                </ul>
                <ul id="community-set">
                    <li>
                        <span>Community</span>
                        <a href="/board">Community</a>
                        <a href="/about_us">About Us</a>
                    </li>
                </ul>
            </div>
            <div id="introduction">
            <a href="#">오벤져스</a>
            <a href="#">홍지수, 조성헌, 임지윤, 홍동수, 조원제</a>
            <span>책itUp</span>
        </div>
        </div>
    </footer>

</body>
</html>
