<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하이</title>
    <script type="text/javascript">
        // 외부에 js 파일에서 django 변수 접근이 불가능하기 때문에 django 변수 접근용 js는 html 내에 따로로 만들어주기
        var userId = "{{ user_id }}"
        var bookId = "{{ book_id }}"
    </script>
    <link rel="stylesheet" href="{% static 'css/book_img.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/star.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mysite.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/rcm.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/history.js' %}"></script>
    <script src="{% static 'js/star.js' %}"></script>
    <script src="{% static 'js/mysite.js' %}"></script>
    <script>

    </script>
</head>
<body>
    <header>
        <div>
            <div>
                <nav>
                    {% if user_id %}
                        <ul class="left-nav">
                            <li><a href="#">Logo</a></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="/test?user_id={{user_id}}">Preference</a></li>
                            <li class="menu">
                                <div class="parent-menu">
                                    <a href="#">Recommendation</a>
                                </div>
                                <ul class="hide-menu">
                                    <li class="submenu"><a href="{% url 'rcm' %}"}>좋아요 기반 추천</a></li>
                                    <li class="submenu"><a href="#">메뉴 2</a></li>
                                    <li class="submenu"><a href="#">메뉴 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
                            <li style="width: 170px;">
                                <form method="get" action="/search" class="autocomplete-me" style="width: 170px;">
                                    <div class="search-box">
                                        <input type="text" id="id_q" name="q" style="width: 120px; margin: 0px; font-size: 12px; height: 18px;">
<!--                                        <input type="submit" value='' class="search-submit" style="width: 30px; margin: 0px;">-->
                                        <button type="submit" value='' class="search-submit" style="width: 30px; margin: 0px;"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </li>
                            <li class="menu" id='my-info'>
                                <div class="parent-menu">
                                    <a href="#">{{user_id}}</a>
                                </div>
                                <ul class="hide-menu">
                                    <li class="submenu" >
                                        <div class="card">
                                            <p id="nickname"></p>
                                        </div>
                                    </li>
                                    <li class="submenu" id="read_book"><a href="{% url 'history_register' %}"></a></li>
                                    <li class="submenu"><a href="{% url 'mysite' %}">My page</a></li>
                                    <li class="submenu"><a href="/board">독서노트</a></li>
                                    <li class="submenu"><a href=" {% url 'logout' %} ">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        {% else %}
                        <ul class="left-nav">
                            <li><a href="/unlogged">Logo</a></li>
                            <li><a href="/unlogged">Home</a></li>
                            <li><a href="/unlogged">Preferences</a></li>
                            <li><a href="/unlogged">Recommendation</a></li>
                            <li><a href="/unlogged">Community</a></li>
                            <li><a href="/unlogged">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
                            <li><a href="/unlogged">Search</a></li>
                            <li><a href=" {% url 'index' %} ">Login/Signup</a></li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>
    <section class="page-start">
        <article class="top-container">
            <article class="left-container">
                <div class="info">
                </div>
                <div class="usage">
                </div>
            </article>
            <article class="right-container">
                <div class="like-img-container">
                    <h2>좋아요 누른 책</h2>
                    <div class="full-btn">
                        <span class="btn" id="mysite-like-btn" >
                            <a href="/mysite/all_like">더보기</a>
                        </span>
                    </div>
                </div>
                <div class="wish-img-container">
                    <h2>찜한 책</h2>
                    <div class="full-btn">
                        <span class="btn" id="mysite-wishlist-btn" >
                            <a href="/mysite/all_wish">더보기</a>
                        </span>
                    </div>
                </div>
            </article>
        </article>
        <article class="bottom-container">

            <div class="board-table">
                    <table>
                        <thead>
                            <tr>
                                <th>리뷰 제목</th>
                                <th>내용</th>
                                <th>작성일</th>
                            </tr>
                        </thead>
                        <tbody class="board-container">
                        </tbody>
                    </table>
            </div>
        </article>

        <article>
            <div id='modal'>
                <div class="close">닫기</div>
                <div class="modal-content">
                    <div id="top-box">
                        <div id="left-box"></div>
                        <div id="right-box"></div>
                    </div>
                    <div id="bottom-box">
                        <div id="bottom-small-box"></div>
                    </div>
                </div>
            </div>
        </article>

    </section>


    <footer>

    </footer>

</body>
</html>