<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하이</title>
    <script type="text/javascript">
        // 외부에 js 파일에서 django 변수 접근이 불가능하기 때문에 django 변수 접근용 js는 html 내에 따로로 만들어주기
        var userId = "{{ user_id }}"
        var bookId = "{{ book_id }}"
    </script>
    <link rel="stylesheet" href="{% static 'css/book_img.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/star.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/rcm.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/history.js' %}"></script>
    <script src="{% static 'js/star.js' %}"></script>
    <script>

    </script>
</head>
<body>
    <header>
        <div>
            <div>
                <nav>
                    {% if user_id %}
                        <ul class="left-nav">
                            <li><a href="#">Logo</a></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="/test?user_id={{user_id}}">Test</a></li>
                            <li class="menu"><a href="#">Recommendation</a>
                                <ul class="hide">
                                    <li class="menu1"><a href="{% url 'rcm' %}"}>메뉴 1</a></li>
                                    <li class="menu1"><a href="#">메뉴 2</a></li>
                                    <li class="menu1"><a href="#">메뉴 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
                            <li><a href="#">Search</a></li>
                            <li class="menu"><a href="#">{{user_id}}</a>
                                <ul class="hide">
                                    <li class="munu1">
                                        <div class="card">
                                            <h1>{{user_id}}</h1>
                                            <p id="email"></p>
                                            <p id="nickname"></p>

                                        </div>
                                    <li class=menu1 id="read_book"><a href="{% url 'history_register' %}"></a></li>
                                    <li class="menu1"><a href="{% url 'mysite' %}">마이페이지</a></li>
                                    <li class="menu1"><a href=" {% url 'logout' %} ">로그아웃</a></li>
                                    </li>
                                </ul>
                            </li>
                            <li><a href=" {% url 'logout' %} ">logout</a></li>
                        </ul>
                    {% else %}
                        <ul class="left-nav">
                            <li><a href="/unlogged">Logo</a></li>
                            <li><a href="/unlogged">Home</a></li>
                            <li><a href="/unlogged">Test</a></li>
                            <li><a href="/unlogged">Recommendation</a></li>
                            <li><a href="/unlogged">Community</a></li>
                            <li><a href="/unlogged">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
                            <li><a href="/unlogged">Search</a></li>
                            <li><a href=" {% url 'index' %} ">Login/Signup</a></li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>
    <div class="book-row">
            <div class="book-read-line">

                {% if messages %}
	                {% for message in messages %}
		                {{ message.tags }}
		                {{ message.message }}
	                {% endfor %}
                {% endif %}
            </div>
    </div>

    <div class="book-row">
            <div class="book-read-line">
                <form method="POST" action="." autocomplete="off">{% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" class="read-form-control" name="read-user-id" value="{{user_id}}">
                    </div>

                    <div class="form-group">
                        <label >책 ID </label>
                        <input type="text" class="read-form-control" name='read-book-id' >
                    </div>
                    <div class="form-group">
                        <label >별점</label>
                        <div class="star-input">
                            <p class="score"><b></b>점</p>
                            <span class="input">
                                <input type="radio" name="star-input" value="1" id="p1">
                                <label for="p1">1</label>
                                <input type="radio" name="star-input" value="0.5" id="p1_2">
                                <label for="p1_2">0.5</label>
                                <input type="radio" name="star-input" value="2" id="p2">
                                <label for="p2">2</label>
                                <input type="radio" name="star-input" value="1.5" id="p2_2">
                                <label for="p2_2">1.5</label>
                                <input type="radio" name="star-input" value="3" id="p3">
                                <label for="p3">3</label>
                                <input type="radio" name="star-input" value="2.5" id="p3_2">
                                <label for="p3_2">2.5</label>
                                <input type="radio" name="star-input" value="4" id="p4">
                                <label for="p4">4</label>
                                <input type="radio" name="star-input" value="3.5" id="p4_2">
                                <label for="p4_2">3.5</label>
                                <input type="radio" name="star-input" value="5" id="p5">
                                <label for="p5">5</label>
                                <input type="radio" name="star-input" value="4.5" id="p5_2">
                                <label for="p5_2">4.5</label>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label >읽기 시작한 날짜</label>
                        <input type="date" class="read-form-control" name="start">
                    </div>

                    <div class="form-group">
                        <label >다 읽은 날짜</label>
                        <input type="date" class="read-form-control" name="end">
                    </div>
                    <button type="submit" class="book-read-history">등록</button>
                </form>

            </div>
        </div>

    </div>
    <section class="page-start">
        <article>
            <table border="1">
                <thead>
                    <tr>
                        <th>책 커버</th>
                        <th>책 제목</th>
                        <th>별점</th>
                        <th>읽기 시작한 날짜</th>
                        <th>다 읽은 날짜</th>
                    </tr>
                </thead>
                <tbody class="table-container">

                </tbody>

            </table>
        </article>

        <article>
            <div id='modal'>
                <div class="close">닫기</div>
                <div class="modal-content">
                    <div id="top-box">
                        <div id="left-box"></div>
                        <div id="right-box"></div>
                    </div>
                    <div id="bottom-box">
                        <div id="bottom-small-box"></div>
                    </div>
                </div>
            </div>
        </article>


    </section>


    <footer>

    </footer>

</body>
</html>
