<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="{% static 'css/index-header.css' %}">
    <link rel="stylesheet" href="{% static 'css/index-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/book_img.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/search_auto_complete.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <script type="text/javascript">
        // 외부에 js 파일에서 django 변수 접근이 불가능하기 때문에 django 변수 접근용 js는 html 내에 따로로 만들어주기
        var userId = "{{ user_id }}"
        var firstUser = "{{ user }}"
        //var likeBtnSrc = "{% static 'images/heart.png' %}"
    </script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/search_auto_complete.js'%}"></script>

    <script src="https://kit.fontawesome.com/e0d225eaba.js" crossorigin="anonymous"></script>



    <style>

    </style>
</head>
<body>
    <header>
        <div>
            <div>
                <nav>
                    {% if user_id %}
                        <ul class="left-nav">
                            <li><a href="#">Logo</a></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="/preference?user_id={{user_id}}">Preference</a></li>
                            <li class="menu">
                                <div class="parent-menu">
                                    <a href="#">Recommendation</a>
                                </div>
                                <ul class="hide-menu">
                                    <li class="submenu"><a href="/recommendation">by preference</a></li>
                                    <li class="submenu"><a href="/recommendation/keyword">by keywords</a></li>
                                    <li class="submenu"><a href="#">메뉴 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Community</a></li>
                            <li><a href="/about_us">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
                            <li style="width: 170px;">
                                <form method="get" action="/search" class="autocomplete-me" style="width: 170px;">
                                    <div class="search-box">
                                        <input type="text" id="id_q" name="q" style="width: 120px; margin: 0px; font-size: 12px; height: 18px;">
<!--                                        <input type="submit" value='' class="search-submit" style="width: 30px; margin: 0px;">-->
                                        <button type="submit" value='' class="search-submit" style="width: 30px; margin: 0px;"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </li>
                            <li class="menu" id='my-info'>
                                <div class="parent-menu">
                                    <a href="#">{{user_id}}</a>
                                </div>
                                <ul class="hide-menu">
                                    <li class="submenu" >
                                        <div class="card">
                                            <p id="nickname"></p>
                                        </div>
                                    </li>
                                    <li class="submenu" id="read_book"><a href="{% url 'history_register' %}"></a></li>
                                    <li class="submenu"><a href="{% url 'mysite' %}">My page</a></li>
                                    <li class="submenu"><a href="/board">독서노트</a></li>
                                    <li class="submenu"><a href=" {% url 'logout' %} ">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="left-nav">
                            <li><a href="/unlogged">Logo</a></li>
                            <li><a href="/unlogged">Home</a></li>
                            <li><a href="/unlogged">Preferences</a></li>
                            <li><a href="/unlogged">Recommendation</a></li>
                            <li><a href="/unlogged">Community</a></li>
                            <li><a href="/unlogged">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
<!--                            <li><a href="/unlogged">Search</a></li>-->
                            <li><a href=" {% url 'index' %} ">Login/Signup</a></li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
            <div id="quote-box">
                <p class="quote">
                    SO LITTLE <b>TIME,</b>
                </p>
                <p class="quote2">
                    SO MANY <b>BOOKS</b>
                </p>
            </div>
        </div>
    </header>

    <section class="page-start">
        <article id="love-books">
            <h2>#연애세포 뿜뿜일 때, #설레고 싶은 날엔</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for book_set in love_books %}
                        <div class="swiper-slide">
                            {% for book in book_set %}
                                <div class="book-img-container">
                                    <img src={{ book.img_url }} name={{ book.book_id }} class="book-img">
                                    <span><i class="fas fa-heart wishlist-btn btns fa-2x" style='position: absolute; top: 85%; left: 80%; z-index: 30'></i></span>
                                    <span><i class="fas fa-thumbs-up like-btn btns fa-3x" style='position: absolute; top: 70px; left: 80px; z-index: 30'></i></span>
                                    <span><i class="fas fa-thumbs-down dislike-btn btns fa-3x" style='position: absolute; top: 160px; left: 80px; z-index: 30'></i></span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
            </div>
        </article>
        <article id="light-books" class="container" >
            <h2> #이동할 때, #시간 없을 때, #가볍게 읽기 좋은</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for book_set in short_books %}
                        <div class="swiper-slide">
                            {% for book in book_set %}
                                <div class="book-img-container">
                                    <img src={{ book.img_url }} name={{ book.book_id }} class="book-img">
                                    <span><i class="fas fa-heart wishlist-btn btns fa-2x" style='position: absolute; top: 85%; left: 80%; z-index: 30'></i></span>
                                    <span><i class="fas fa-thumbs-up like-btn btns fa-3x" style='position: absolute; top: 70px; left: 80px; z-index: 30'></i></span>
                                    <span><i class="fas fa-thumbs-down dislike-btn btns fa-3x" style='position: absolute; top: 160px; left: 80px; z-index: 30'></i></span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
            </div>
        </article>
        <article id="timely-books" class="container">
            {% if is_daytime %}
                <h2> #성공하고싶을 때, #동기부여 받고 싶을 때, #자극받기 좋은</h2>
            {% else %}
                <h2> #감수성 풍부할 때, #잠안올 때, #인생에 지칠 때</h2>
            {% endif %}
           <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for book_set in hourly_books %}
                        <div class="swiper-slide">
                            {% for book in book_set %}
                                <div class="book-img-container">
                                    <img src={{ book.img_url }} name={{ book.book_id }} class="book-img">
                                    <span><i class="fas fa-heart wishlist-btn btns fa-2x" style='position: absolute; top: 85%; left: 80%; z-index: 30'></i></span>
                                    <span><i class="fas fa-thumbs-up like-btn btns fa-3x" style='position: absolute; top: 70px; left: 80px; z-index: 30'></i></span>
                                    <span><i class="fas fa-thumbs-down dislike-btn btns fa-3x" style='position: absolute; top: 160px; left: 80px; z-index: 30'></i></span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
            </div>
        </article>
         <article id="rank">평점순위

            <table border="1">
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>제목</th>
                        <th>평균 별점</th>
                        <th>읽은 책 등록 수</th>
                    </tr>
                </thead>
                <tbody class="rank-book">

                </tbody>

            </table>

        </article>
        <article id="popularity">
            인기도서
        </article>
        <article>
            <div id='modal'>
                <div class="close">닫기</div>
                <div class="modal-content">
                    <div id="top-box">
                        <div id="left-box"></div>
                        <div id="right-box"></div>
                    </div>
                    <div id="bottom-box">
                        <div id="bottom-small-box"></div>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <footer>

    </footer>

</body>
</html>
