<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Unlogged</title>
    <link rel="icon" href="{% static 'images/bookitup_logo3.png' %}">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/unlogged.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <style>
        .regi{
            text-align: center;

        }
        a{
            display: inline-block;
            font-size: 30pt;
            padding: 70px;
        }

        a:hover{
            transform: scale(1.05);
        }
    </style>
</head>
<body>
<div class="background">
        <div class="background-shadow">
            <div class="container">
                <div class="row">
                    <div class="regi">
                        <a href="/login">로그인 페이지로 이동하기</a>
                        <br>
                        <a href="/">홈페이지로 돌아가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>