<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인페이지</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style type="text/css">
 a:link { color: red; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: none;}

</style>



<body>
    <div class="container">
        <div calss="row">
            <div calss="regi">
                <h1>로그인</h1>
            </div>
        </div>
        <div class="row">
            <div class="regi2">
                {% if messages %}
	                {% for message in messages %}
		                {{ message.tags }}
		                {{ message.message }}
	                {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div calss="regi2">
                <form method="POST" action=".">{% csrf_token %}
                    <div class="form-group">
                        <label >사용자 ID 입력</label>
                        <input type="text" class="form-control" name="username" placeholder="사용자이름">
                    </div>
                    <div class="form-group">
                        <label >비밀번호 입력</label>
                        <input type="password" class="form-control" name="password" placeholder="비밀번호">
                    </div>
                <button type="submit" class="btn1">로그인</button><button class="btn2"><a href=" {% url 'register'%}">회원가입</a></button>
                </form>

            </div>
        </div>
    </div>


</body>
</html>