<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <script>-->
<!--        $(function(){-->
<!--            $('#')-->
<!--        })-->
<!--    </script>-->
</head>
<body>
    <div class="container">
        <div calss="row">
            <div calss="regi">
                <h1>회원가입</h1>
            </div>
        </div>
        <div class="row">
            <div class="regi2">

                {% if messages %}
	                {% for message in messages %}
		                {{ message.tags }}
		                {{ message.message }}
	                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="regi2">
                <form method="POST" action=".">{% csrf_token %}
                    <div class="form-group">
                        <label >사용자 ID 입력</label>
                        <input type="text" class="form-control" name="username" placeholder="사용자이름">
                        <input type="button" value="중복 확인" id="id-check">
                    </div>
                    <div class="form-group">
                        <label >비밀번호 입력</label>
                        <input type="password" class="form-control" name="password" placeholder="비밀번호">
                    </div>
                    <div class="form-group">
                        <label >비밀번호 확인</label>
                        <input type="password" class="form-control" name="password-re" placeholder="비밀번호 확인">
                    </div>
                    <div class="form-group">
                        <label >email 입력</label>
                        <input type="text" class="form-control" name="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label >성별</label>
                        <input type="radio" class="form-control" name="gender" value="man"><span class="man">남성</span>
                        <input type="radio" class="form-control" name="gender" value="woman"><span class="woman">여성</span>
                    </div>
                    <div class="form-group">
                        <label >별명</label>
                        <input type="text" class="form-control" name="nickname" placeholder="nickname">
                    </div>

                    <div class="form-group">
                        <label >생년월일 입력</label>
                        <input type="date" class="form-control" name="birth" placeholder="birth">
                    </div>
                    <button type="submit" class="btn1">submit</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>

<!--1. 성별/ 생년월일 수정-->
<!--2. 회원가입하면 메인 홈페이지로 가게-->
<!--3. 로그인-->