<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 취향 기반 추천 페이지</title>
    <link rel="stylesheet" href="{% static 'css/book_img.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'js/rcm.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/swiper.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>

    <script src="{% static 'js/profile.js' %}"></script>


</head>
<body>
    <header>
        <div>
            <div>
                  <nav>
                    {% if user_id %}
                        <ul class="left-nav">
                            <li><a href="#">Logo</a></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="/test?user_id={{user_id}}">Test</a></li>
                            <li class="menu"><a href="#">Recommendation</a>
                                <ul class="hide">
                                    <li class="menu1"><a href="{% url 'rcm' %}"}>메뉴 1</a></li>
                                    <li class="menu1"><a href="#">메뉴 2</a></li>
                                    <li class="menu1"><a href="#">메뉴 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
                            <li  style="width: 170px;">
                                <form method="get" action="/search" class="autocomplete-me" style="width: 170px;">
                                    <div class="search-box">
                                        <input type="text" id="id_q" name="q" style="width: 120px; margin: 0px; font-size: 12px; height: 18px;">
<!--                                        <input type="submit" value='' class="search-submit" style="width: 30px; margin: 0px;">-->
                                        <button type="submit" value='' class="search-submit" style="width: 30px; margin: 0px;"><i class="fas fa-search"></i></button>
                                    </div>
                                </form>
                            </li>
                            <li class="menu"><a href="#">{{user_id}}</a>
                                <ul class="hide">
                                    <li class="munu1">
                                        <div class="card">
                                            <h1>{{user_id}}</h1>
                                            <p id="email"></p>
                                            <p id="nickname"></p>
                                        </div>
                                    </li>
                                    <li class=menu1 id="read_book"><a href="{% url 'history_register' %}"></a></li>
                                    <li class="menu1"><a href="{% url 'mysite' %}">마이페이지</a></li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="left-nav">
                            <li><a href="/unlogged">Logo</a></li>
                            <li><a href="/unlogged">Home</a></li>
                            <li><a href="/unlogged">Test</a></li>
                            <li><a href="/unlogged">Recommendation</a></li>
                            <li><a href="/unlogged">Community</a></li>
                            <li><a href="/unlogged">AboutUs</a></li>
                        </ul>
                        <ul class="right-nav">
                            <li><a href="/unlogged">Search</a></li>
                            <li><a href=" {% url 'index' %} ">Login/Signup</a></li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>

    <section class="page-start">
        <article id="rcm-books" class="container" >
            <div class="swiper-container">
                <div  class="swiper-wrapper">
                    <div class="swiper-slide">
                            {% with books=rcm_books|slice:"0:5" %}
                                {% for book in  books%}
                                    <div class="book-img-container">
                                        <img src={{ book.img_url }} name={{ book.book_id }} class="book-img">
                                        <span><i class="fas fa-heart wishlist-btn btns fa-2x" style='position: absolute; top: 85%; left: 80%; z-index: 30'></i></span>
                                        <span><i class="fas fa-thumbs-up like-btn btns fa-3x" style='position: absolute; top: 70px; left: 80px; z-index: 30'></i></span>
                                        <span><i class="fas fa-thumbs-down dislike-btn btns fa-3x" style='position: absolute; top: 160px; left: 80px; z-index: 30'></i></span>
                                    </div>

                                {% endfor %}
                            {% endwith%}
                    </div>
                    <div class="swiper-slide">
                            {% with books=rcm_books|slice:"5:10" %}
                                {% for book in  books%}

                                    <div class="book-img-container">
                                        <img src={{ book.img_url }} name={{ book.book_id }} class="book-img">
                                        <span><i class="fas fa-heart wishlist-btn btns fa-2x" style='position: absolute; top: 85%; left: 80%; z-index: 30'></i></span>
                                        <span><i class="fas fa-thumbs-up like-btn btns fa-3x" style='position: absolute; top: 70px; left: 80px; z-index: 30'></i></span>
                                        <span><i class="fas fa-thumbs-down dislike-btn btns fa-3x" style='position: absolute; top: 160px; left: 80px; z-index: 30'></i></span>
                                    </div>

                                {% endfor %}
                            {% endwith%}
                    </div>
                    <div class="swiper-slide">
                            {% with books=rcm_books|slice:"10:15" %}
                                {% for book in  books%}

                                    <div class="book-img-container">
                                        <img src={{ book.img_url }} name={{ book.book_id }} class="book-img">
                                        <span><i class="fas fa-heart wishlist-btn btns fa-2x" style='position: absolute; top: 85%; left: 80%; z-index: 30'></i></span>
                                        <span><i class="fas fa-thumbs-up like-btn btns fa-3x" style='position: absolute; top: 70px; left: 80px; z-index: 30'></i></span>
                                        <span><i class="fas fa-thumbs-down dislike-btn btns fa-3x" style='position: absolute; top: 160px; left: 80px; z-index: 30'></i></span>
                                    </div>
                                {% endfor %}
                            {% endwith%}
                    </div>
                    <div class="swiper-slide">
                            {% with books=rcm_books|slice:"15:20" %}
                                {% for book in  books%}

                                    <div class="book-img-container">
                                        <img src={{ book.img_url }} name={{ book.book_id }} class="book-img">
                                        <span><i class="fas fa-heart wishlist-btn btns fa-2x" style='position: absolute; top: 85%; left: 80%; z-index: 30'></i></span>
                                        <span><i class="fas fa-thumbs-up like-btn btns fa-3x" style='position: absolute; top: 70px; left: 80px; z-index: 30'></i></span>
                                        <span><i class="fas fa-thumbs-down dislike-btn btns fa-3x" style='position: absolute; top: 160px; left: 80px; z-index: 30'></i></span>
                                    </div>
                                {% endfor %}
                            {% endwith%}
                    </div>
                </div>
                <div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                <div class="swiper-button-prev"></div><!-- 이전 버튼 -->
            </div>
        </article>






        <article>
            <div id='modal'>
                <div class="close">닫기</div>
                <div class="modal-content">
                    <div id="top-box">
                        <div id="left-box"></div>
                        <div id="right-box"></div>
                    </div>
                    <div id="bottom-box">
                        <div id="bottom-small-box"></div>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <footer>

    </footer>

</body>
</html>
